/* Styling for the crab documentation website */

@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

:root {
  --base-font-family: 'JetBrains Mono', 'Consolas', monospace;

  --docsifytabs-tab-background: #181825;
}


.markdown-section {
  del {
    color: #f38ba8;
    text-decoration: 2px line-through;
    opacity: 0.8;
  }

  em {
    font-style: italic;
    color: var(--green) !important;
  }

  strong,
  b {
    color: var(--red) !important;
  }
}

.color-swatch {
  height: 1em;
  aspect-ratio: 1;
  margin: 0px 0.15em -0.15em;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1.5px solid #FFFFFF;
}

.token {
  &.crab-type {
    color: var(--yellow);
  }

  &.macro {
    color: var(--mauve);
  }

  &.attribute {
    color: var(--peach);
  }

  &.namespace {
    color: var(--yellow);
    opacity: 0.9;
  }
}

.alert.callout.crab.crab2 {
  border: none;
  /* border-radius: 10px; */
  background: var(--base);
  border-color: var(--color);
  border: 2px solid var(--color);
  border-left-color: var(--color) !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left-width: 5px;

  &.warning {
    --color: var(--peach);
  }

  &.info {
    --color: var(--sky);
  }

  p.title {
    color: var(--color);

    .icon {
      color: var(--color);
    }
  }
}
