/* Styling for the crab documentation website */

@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

:root {
  --base-font-family: 'JetBrains Mono', 'Consolas', monospace;

  --docsifytabs-tab-background: #181825;
  --blockquote-background: var(--base);
  --sidebar-nav-strong-text-transform: none;
  --sidebar-width: 25rem;
}



.markdown-section {
  em {
    font-style: italic;
    color: var(--green) !important;
  }

  strong,
  b {
    color: var(--red) !important;
  }
}

div.sidebar-nav {
  /* margin-left: 0em; */

  color: var(--text);

  del {
    color: var(--red);
    text-decoration: 2px line-through;
    opacity: 0.9;
  }

  ul {
    /* font-size: 0.8rem; */

    counter-reset: item;

    .section-link {
      font-style: italic;
      color: var(--subtext0) !important;
    }

    li {
      display: block;
      /* margin-left: - 0.5em; */

      a {
        color: var(--blue);
        display: inline;
      }

      del {
        display: inline;
      }


      &:before {
        content: counters(item, ".") ". ";
        font-weight: bold;
        color: var(--subtext1);
        counter-increment: item;
      }
    }


    &.app-sub-sidebar {
      font-size: 0.92rem;

      li:before {
        padding: 0 0 0 0;
        display: none;
      }
    }
  }

}

.color-swatch {
  height: 1em;
  aspect-ratio: 1;
  margin: 0px 0.15em -0.15em;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1.5px solid #FFFFFF;
}

.token {
  &.crab-type {
    color: var(--yellow);
  }

  &.macro {
    color: var(--mauve);
  }

  &.attribute {
    color: var(--peach);
  }

  &.namespace {
    color: var(--yellow);
    opacity: 0.9;
  }
}

.alert.callout.crab.crab2 {
  border: none;
  /* border-radius: 10px; */
  background: var(--base);
  border-color: var(--color);
  border: 2px solid var(--color);
  border-left-color: var(--color) !important;
  border-radius: 0px;
  border-left-width: 5px;
  border-top: none;
  border-right: none;
  border-bottom: none;

  &.warning {
    --color: var(--peach);
  }

  &.note {
    --color: var(--sky);
  }

  &.bug {
    --color: var(--red);
  }

  p.title {
    color: var(--color);

    .icon {
      color: var(--color);
    }
  }
}
