name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        c_compiler: [clang++, g++, cl]
        build_type: [Debug, Release]
        exclude:
          - os: ubuntu-latest
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - uses: ashutoshvarma/setup-ninja@v1.1
    
    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v2

    - name: Configure CMake
      run: cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCRAB_TESTS=ON -DCMAKE_CXX_COMPILER=${{matrix.c_compiler}}

    - name: Build
      run: cmake --build build

    - name: Run Tests
      working-directory: build/tests
      run: ./crab-tests -s
