name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        c_compiler: [clang++, g++, cl]
        build_type: [Debug, Release]
        exclude:
          - os: windows-latest
            c_compiler: g++
          - os: windows-latest
            c_compiler: cl
          - os: ubuntu-latest
            c_compiler: cl
          - os: macos-latest
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - uses: ashutoshvarma/setup-ninja@v1.1
    
    - name: Set up Clang
      uses: egor-tensin/setup-clang@v1
      if: matrix.os != 'macos-latest' && matrix.c_compiler == 'clang++'
      with:
        version: 20
    
    - name: Set up MSVC 
      if: matrix.os == 'windows-latest' && matrix.c_compiler == 'cl'
      uses: ilammy/msvc-dev-cmd@v1

    - name: Set up Clang (macos)
      if: matrix.os == 'macos-latest' && matrix.c_compiler == 'clang++'
      run: |
        brew install llvm@18 \
        && echo 'export PATH="/opt/homebrew/opt/llvm@18/bin:$PATH"' >> /Users/runner/.bash_profile \
        && source /Users/runner/.bash_profile \
        && which clang++

    - name: Configure CMake
      run: cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCRAB_TESTS=ON -DCMAKE_CXX_COMPILER=${{matrix.c_compiler}}

    - name: Build
      run: cmake --build build

    - name: Run Tests
      working-directory: build/tests
      run: ./crab-tests -s
