# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: Build & Upload Doxygen

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write
    
    steps:
    - name: Setup Pages
      uses: actions/configure-pages@v5
    - uses: actions/checkout@v4
    - uses: ssciwr/doxygen-install@v1
      with:
        version: "1.14.0"
    - name: Setup CMake
      run: 
        cmake -DCRAB_DOCS=ON -S ${{ github.workspace }}
    - name: Build Doxygen
      run: 
        cmake --build . --target docs
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        # Upload entire repository
        path: './docs/html'
    - name: Deploy artifact
      id: deployment
      uses: actions/deploy-pages@v4
